@import url(https://fonts.googleapis.com/css?family=Fjalla+One);

$background: #0d0d0d;
$red: #e55643 ;
$green: #2b9f5e;
$yellow: #f1c83c;
$shadow: #383838;

html{
    height: 100%;
}

body{
    font-family: 'Fjalla One', sans-serif;
    background: $background;
    min-height: 100%;
}

ul {
    padding: 0;
    list-style: none;
}

.wrapper-900 {
    width: 75%;
    max-width: 900px;
    margin: 0 auto;
}

.wrapperHeader {
    min-height: calc(100vh - 55px);
    display: grid;
    align-content: center;
    justify-content: center;
}

.nameContainer{
    margin: 0 auto;
    display: grid;
    align-content: center;
    max-width: 600px;
}

.resumeContainer {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
    width: 100%;
    opacity: 0;
    animation-name: fadein;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-delay: 1.5s;

    .resumeLink {
        color: white;
        padding: 5px 10px;
        border: 1px rgba(0, 0, 0, 0.45) solid;
        border-radius: 15px;
        font-size: 20px;
        font-size: calc(2.5vh + .25vw);
        text-decoration: none;
    }
}

.workList {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
}

h1,
.name {
    display: grid;
    justify-content: center;
    text-transform: uppercase;
    font-size: 70px;
    font-size: calc(4vh + 2.5vw);
    line-height: 60px;
    line-height: calc(2vh + 2vw);
    letter-spacing: 2px;
    margin: 15px;
}

h2 {
    text-align: center;
    color: white;
}

p {
    text-align: justify;
}

.hide {
    opacity: 0;
}

.title,
span {
    transform: skew(-12deg);
    float: left;
    text-shadow: $shadow 1px 1px, $shadow 2px 2px, $shadow 3px 3px, $shadow 4px 4px, $shadow 5px 5px, $shadow 6px 6px;
    min-width: 10px;
    min-height: 10px;
    position: relative;
}

.title{
    display: inline;

    &:nth-child(1){
        color: white;
    }
    &:nth-child(2){
        color: tomato;
    }
}

.skillSection {
    h2 {
        color: black;
        text-align: center;
    }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.nav-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
    position: sticky;
    top: 0;
    z-index: 1;

    nav {
        height: 55px;
        display: flex;
        justify-content: center;

        a {
            color: #888;
            text-decoration: none;
            transition: .3s;
            font-size: 20px;
            font-size: calc(2vh);
        }
    
        a:focus,
        a:hover {
            color: tomato;
        }
    
        ul {
            list-style: none;
        }
    }
}

.nav-wrapper ul {
    opacity: 0;
    width: 0;
    overflow: hidden;
}

.nav-wrapper.active ul {
    display: flex;
    justify-content: space-around;
    opacity: 1;
    width: 275px;
    transition: .4s ease-in;
}

.nav-toggler {
    margin-top: 5px;
    position: relative;
    display: inline-block;
    width: 40px;
    height: 48px;
    padding: 14px 5px;
    cursor: pointer;
}

.nav-toggler::before,
.nav-toggler::after {
    content: '';
    display: block;
    width: 30px;
    height: 3px;
    background-color: tomato;
    transition: .4s;
}

.nav-toggler::after {
    margin-top: 10px;
}

.nav-wrapper.active .nav-toggler::before,
.nav-wrapper.active .nav-toggler::after{
    position: absolute;
    top: 50%;
    background-color: tomato;
    transform: rotate(135deg);
}
.nav-wrapper.active .nav-toggler::after {
    transform: rotate(-135deg);
    margin-top: 0;
}

.skillGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15px, 100px));
    grid-gap: 50px;
    justify-content: center;
    margin: 0 auto;
    padding: 15px 0 25px 0;
    border-bottom: 1px tomato solid;
    border-top: 1px tomato solid;
}

.skillFlex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resumeIcon {
    width: 100%;
    max-width: 50px;
    min-width: 25px;
    height: auto;
}

.skillIcon {
    width: 100%;
    max-width: 100px;
    min-width: 25px;
    height: auto;
    filter: grayscale(100%);
}

.skillIcon:hover,
.skillIcon:focus {
    filter: grayscale(0%);
}

section {
    display: grid;
    justify-content: center;
    margin: 0 auto;
    padding: 50px 0;
}

.lightSection {
    background-color: white;
}

.clipDiagonal {
    clip-path: polygon(0% 15%, 100% 0%, 100% 85%, 0% 100%);
    padding: 150px 0 200px 0;
}

.clipChevron {
    clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 50% 100%, 0% 90%);
    padding: 50px 0 150px 0;
}

.gridPortfolio {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    margin: 50px 0;
}

.portfolioLeft {
    img {
        grid-column: 1 / 2;
    }

    div {
        grid-column: 2 / 5;
    }
}

.portfolioRight {
    img {
        grid-column: 5 / 6;
    }

    div {
        grid-column: 1 / 5;
        grid-row: 1/2;
    }
}

#about {
    h2 {
        color: black;
    }

    div:nth-child(2) {
    border-right: 1px solid tomato;
    border-left: 1px solid tomato;
    padding: 0 30px;
    }

    p {
    font-size: 23px;
    line-height: 35px;
    }
}

#portfolio {
    img {
        height: 171px;
        width: 300px;
        border-radius: 10px;
    }
}