// variables
@import url(https://fonts.googleapis.com/css?family=Fjalla+One);
$primaryFont: 'Fjalla One', sans-serif;

// font colours + pseudo states
$primaryBlack: #040405;
$primaryWhite: #FDFDFD;

$primaryBackground: #0d0d0d;
$secondaryBackground: #383838;
$tertiaryBackground: #d8d8d8;

$primaryAccent: tomato;