@import url(https://fonts.googleapis.com/css?family=Fjalla+One);
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 0px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
}

body {
  font-family: "Fjalla One", sans-serif;
  background: #0d0d0d;
  min-height: 100%;
}

body button:focus,
body input:focus,
body a:focus {
  border: 1px solid tomato;
}

ul {
  padding: 0;
  list-style: none;
}

h1,
.name {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  font-size: 70px;
  font-size: calc(4vh + 2.5vw);
  line-height: 60px;
  line-height: calc(2vh + 2vw);
  letter-spacing: 2px;
  margin: 15px;
}

h2 {
  text-align: center;
  color: #FDFDFD;
}

p {
  text-align: justify;
}

.wrapper-900 {
  max-width: 900px;
  margin: 0 auto;
}

.wrapperHeader {
  min-height: calc(100vh - 55px);
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nameContainer {
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  max-width: 600px;
}

.resumeContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[3];
      grid-template-columns: repeat(3, auto);
  grid-gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  opacity: 0;
  -webkit-animation-name: fadein;
          animation-name: fadein;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.resumeContainer .resumeLink {
  color: #FDFDFD;
  padding: 5px 10px;
  border: 1px rgba(0, 0, 0, 0.45) solid;
  border-radius: 15px;
  font-size: 20px;
  font-size: calc(2.5vh + .25vw);
  text-decoration: none;
}

.workList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  list-style: none;
}

.hide {
  opacity: 0;
}

.title,
span {
  -webkit-transform: skew(-12deg);
          transform: skew(-12deg);
  float: left;
  text-shadow: #383838 1px 1px, #383838 2px 2px, #383838 3px 3px, #383838 4px 4px, #383838 5px 5px, #383838 6px 6px;
  min-width: 10px;
  min-height: 10px;
  position: relative;
}

.title {
  display: inline;
}

.title:nth-child(1) {
  color: #FDFDFD;
}

.title:nth-child(2) {
  color: tomato;
}

.skillSection h2 {
  color: black;
  text-align: center;
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.nav-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 50px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

.nav-wrapper nav {
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-wrapper nav a {
  color: #888;
  text-decoration: none;
  -webkit-transition: .3s;
  transition: .3s;
  font-size: 20px;
  font-size: calc(2vh);
}

.nav-wrapper nav a:focus,
.nav-wrapper nav a:hover {
  color: tomato;
}

.nav-wrapper nav ul {
  list-style: none;
}

.nav-wrapper ul {
  opacity: 0;
  width: 0;
  overflow: hidden;
}

.nav-wrapper.active ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  opacity: 1;
  width: 275px;
  -webkit-transition: .4s ease-in;
  transition: .4s ease-in;
  border-radius: 5px;
}

.nav-toggler {
  margin-top: 5px;
  position: relative;
  display: inline-block;
  width: 40px;
  height: 48px;
  padding: 14px 5px;
  cursor: pointer;
}

.nav-toggler::before,
.nav-toggler::after {
  content: '';
  display: block;
  width: 30px;
  height: 3px;
  background-color: tomato;
  -webkit-transition: .4s;
  transition: .4s;
}

.nav-toggler::after {
  margin-top: 10px;
}

.nav-wrapper.active .nav-toggler::before,
.nav-wrapper.active .nav-toggler::after {
  position: absolute;
  top: 50%;
  background-color: tomato;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.nav-wrapper.active .nav-toggler::after {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  margin-top: 0;
}

.skillGrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(15px, 100px))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(15px, 100px));
  grid-gap: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  padding: 15px 0 25px 0;
  border-bottom: 1px tomato solid;
  border-top: 1px tomato solid;
}

.skillFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.resumeIcon {
  width: 100%;
  max-width: 50px;
  min-width: 25px;
  height: auto;
}

.skillIcon {
  width: 100%;
  max-width: 100px;
  min-width: 25px;
  height: auto;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.skillIcon:hover,
.skillIcon:focus {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

section {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  padding: 50px 0;
}

.lightSection {
  background-color: #FDFDFD;
}

.clipDiagonal {
  -webkit-clip-path: polygon(0% 15%, 100% 0%, 100% 85%, 0% 100%);
          clip-path: polygon(0% 15%, 100% 0%, 100% 85%, 0% 100%);
  padding: 150px 0 200px 0;
}

.clipChevron {
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 50% 100%, 0% 90%);
          clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 50% 100%, 0% 90%);
  padding: 50px 0 150px 0;
}

#about h2 {
  color: black;
}

#about div:nth-child(2) {
  border-right: 1px solid tomato;
  border-left: 1px solid tomato;
  padding: 0 30px;
}

#about p {
  font-size: 23px;
  line-height: 35px;
}

#portfolio {
  color: #FDFDFD;
}

#portfolio img {
  max-width: 100%;
}

.gridPortfolio {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 20px;
  margin: 25px 0;
}

.gridPortfolio * {
  margin: 10px 0;
}

.gridPortfolio h3,
.gridPortfolio p {
  color: #FDFDFD;
}

.gridPortfolio h4 {
  color: tomato;
}

.gridPortfolio a {
  color: #d8d8d8;
}

.gridPortfolio a:hover,
.gridPortfolio a:focus {
  color: #383838;
}

.portfolioLeft img {
  border-radius: 5px;
}

.portfolioRight {
  border-radius: 5px;
}

.portfolioRight img {
  border-radius: 5px;
  justify-self: flex-end;
}

#contact h3 {
  text-align: center;
  color: #FDFDFD;
}

#contact form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#contact form #formName,
#contact form input[type=email] {
  -ms-flex-preferred-size: calc(50% - 10px);
      flex-basis: calc(50% - 10px);
  margin-bottom: 10px;
}

#contact form input[type=text],
#contact form textarea {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin-bottom: 10px;
}

#contact form textarea {
  padding: 5px;
  border: none;
  border-radius: 5px;
  height: 100px;
}

#contact button {
  background-color: #383838;
  border: none;
  border-radius: 5px;
  color: #FDFDFD;
  font-family: "Fjalla One", sans-serif;
  font-size: 1.5rem;
  cursor: pointer;
  margin: 10px auto;
  padding: 5px;
  width: 50%;
}

#contact button:hover,
#contact button:focus {
  color: tomato;
  border: 1px solid #FDFDFD;
}

@media (max-width: 400px) {
  .nav-wrapper {
    margin-right: 30px;
  }
  .nav-toggler {
    width: 30px;
  }
  .clipDiagonal {
    -webkit-clip-path: polygon(0% 5%, 100% 0%, 100% 95%, 0% 100%);
            clip-path: polygon(0% 5%, 100% 0%, 100% 95%, 0% 100%);
    padding: 50px 0 100px 0;
  }
  .clipChevron {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 95%, 50% 100%, 0% 95%);
            clip-path: polygon(0% 0%, 100% 0%, 100% 95%, 50% 100%, 0% 95%);
    padding: 25px 0 50px 0;
  }
  .wrapper-900 {
    width: 95%;
  }
  .gridPortfolio a:hover,
  .gridPortfolio a:focus {
    border: 1px solid #FDFDFD;
  }
  .portfolioLeft a {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
  }
  #contact form #formName,
  #contact form #formEmail {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}
